{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/home.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/header.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
	<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('fontAwesome/css/all.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
	<div class="form-body">
		<div class="row">
			<div class="form-holder">
				<div class="form-content">
					<div class="form-items">
						<h3>S'enregistrer</h3>
						<p>Remplir le formulaire ci-dessous.</p>
						{{ form_start(registrationForm, {'class':'requires-validation'}) }}
					        {{ form_row(registrationForm.email, 
					            {'attr':{'placeholder':'Email'}}
					        )  }}
					        {{ form_row(registrationForm.plainPassword,
					            {'attr':{'placeholder':'Mot de passe'}}
					        ) }}
					        {{ form_row(registrationForm.confirmPassword,
					       		{'attr':{'placeholder':'Confirmer le mot de passe'}}
					      	) }}
					        {{ form_row(registrationForm.agreeTerms) }}
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">S'enregistrer</button>
                            </div>
					    {{ form_end(registrationForm) }}
					</div>    
   				</div>
   			</div>
   		</div>
   	</div>
{% endblock %}
