{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/home.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/header.css') }}" rel="stylesheet" />
	<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('fontAwesome/css/all.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
	<div class="secCon">
		<div id="fake" style="height:0px;">
			<div class="middleP">
				<a href="#section01" class="ahref"><i class="far fa-arrow-alt-circle-down arrow"></i></a><br>
			</div>
		</div>
		<section id="section01" class="demo">
			<div class="middleP">
				<a href="#section02" class="ahref"><i class="far fa-arrow-alt-circle-down arrow"></i></a><br>
			</div>
		</section>
		<section id="section02">
			<div class="middleP">
<!-- 				<a href="#section03"><i class="far fa-arrow-alt-circle-down arrow"></i></a><br> -->
			</div>
			<div class="home">
				{% for room in listeRooms %}
					{{ room.summary }}<br>
					{{ room.description }}<br><br>
				{% endfor %}
			</div>
		</section>
	</div>
	
	<script src="{{ asset('JS/header.js') }}"></script>
{% endblock %}
